<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">

    <style>
        .content {
            margin: 0 auto;
            width: 790px;
        }

        .operation-col {
            margin: 2em 0;
        }

    </style>
</head>
<body>

<div class="content">
    <div class="operation-col">
        <button th:text="添加" class="btn btn-primary pro-a" data-toggle="modal" data-target="#myModal"></button>
    </div>
    <h1>产品列表页面</h1>

    <table class="table product">
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
    </table>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="/data/jdbc/save">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">添加产品</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="pro-name">产品名称</label>
                    <input type="text" class="form-control" id="pro-name" name="pro_name" placeholder="名称">
                </div>
                <div class="form-group">
                    <label for="pro-description">描述</label>
                    <input type="text" class="form-control" id="pro-description" name="proDescription"
                           placeholder="描述">
                </div>
                <div class="form-group">
                    <label for="pro-price">价格</label>
                    <input type="number" class="form-control" id="pro-price" name="price" placeholder="0.0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" th:type="submit">提交</button>
            </div>
        </form>
    </div>
</div>


<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://cdn.bootcss.com/rxjs/6.3.3/rxjs.umd.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
<script>

    // 引入方法
    const {fromEvent} = rxjs;
    const {throttleTime, map} = rxjs.operators;
    const {create} = rxjs.Observable;

    /**
     * rxJs 监听页面加载完成
     */
    fromEvent(window, "load").subscribe(ready());

    function ready() {
        console.log("This page load finish");
        bindEvent();
        loadProductList();
    }

    /**
     * 绑定事件
     */
    function bindEvent() {
        fromEvent(document.querySelector(".pro-a"), "click")
            .pipe(
                // 防抖处理
                throttleTime(1000)
            )
            .subscribe(() => console.log("add product"));
    }

    /**
     *=================加载产品列表
     */
    function loadProductList() {
        create(function subscribe(observer) {
            axios.get('/data/jdbc/query/bean')
                .then(function (response) {
                    observer.next(response.data)
                })
                .catch(function (error) {
                    observer.error(error)
                });
        }).pipe(
            map(list => {
                let productListTable = [];
                for (let i = 0; i < list.length; i++) {
                    productListTable.push("<tr>");
                    productListTable.push("<td>");
                    productListTable.push(list[i].pro_name);
                    productListTable.push("</td>");
                    productListTable.push("<td>");
                    productListTable.push(list[i].proDescription);
                    productListTable.push("</td>");
                    productListTable.push("<td>");
                    productListTable.push(list[i].price);
                    productListTable.push("</td>");
                    productListTable.push("<td>");
                    productListTable.push("<a class='pro-m' onclick='updateProduct(" + JSON.stringify(list[i]) + ")' href='#'>修改</a>&nbsp;&nbsp;");
                    productListTable.push("<a class='pro-d' href='/data/jdbc/delete/" + list[i].proId + "'>删除</a>");
                    productListTable.push("</td>");
                    productListTable.push("</tr>");
                }
                return productListTable.join("");
            })
        ).subscribe(result => {
            console.log(result);
            document.querySelector("table.product").innerHTML += result;
        }, error => console.log(error));
    }

    /**
     * 修改产品信息
     * @param product
     */
    function updateProduct(product) {
        console.log(product.proId)
        document.querySelector("#pro-name").value = product.pro_name;
        document.querySelector("#pro-description").value = product.proDescription;
        document.querySelector("#pro-price").value = product.price;
        let proIdNode = document.createElement("input");
        proIdNode.setAttribute("name", "proId")
        proIdNode.value = product.proId;
        proIdNode.id = "pro-id";
        proIdNode.style.display = "none";
        document.querySelector("div.modal-body").appendChild(proIdNode);
        $('#myModal').modal('show');
    }
</script>
</body>
</html>