<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../templates/common/common-head :: header(~{::title}, ~{::link}, _, ~{::style})">
    <meta charset="utf-8" th:remove="all">
    <title>Thymeleaf示例</title>
    <!--<link th:replace="../templates/common/module :: common-link">-->
    <!-- ~是域名下根路径，都则回事访问地址下的路径 -->
    <link rel="stylesheet" th:href="@{~/assets/app/css/common.css}">

    <style>
        .middle-font {
            font-size: 1.2rem;
            color: darkgreen;
            font-family: "WenQuanYi Micro Hei", monospace;
        }
    </style>
</head>
<body>

<div th:replace="~{../templates/common/header}"></div>
<div class="content">

    <div>
        <h3>用户名称</h3>
        <span th:text="${user.name}"></span>
        <p th:utext="|姓名:${user.name}|"></p>

        <label> 来自session中的值${session.key}</label>
        <p th:text="${session.sessionKey}"></p>
        <label> 表达式中使用参数</label>
        <p th:text="#{str.param(${user.name})}"></p>
        <!--<p th:text="${__#{article.text('Var')}__}"></p>-->
    </div>

    <div>
        <h3>国际化配置</h3>
        <!-- label中的for属性作用
            label中for属性配置input的id可以让input获取焦点，点击label后input就会有焦点
        -->
        <label> 全局配置</label>
        <p th:text="#{page.content}">统一配置</p>
        <p th:utext="#{user.welcome}"></p>
    </div>

    <div>
        <h3>表达式基本对象</h3>
        <label>ctx</label>
        <p th:text="${#ctx.welcomeTemplateKey}"></p>
        <label>local</label>
        <p th:text="${#locale.getLanguage()}"></p>

        <label>request</label>
        <p th:text="${#request.getScheme()}"></p>

        <label>date</label>
        <p th:text="${#dates.format(nowTime, 'yyyy-MM-dd')}"></p>
        <p th:text="${{nowTime}}"></p>
        <label>th:text中5+7</label>
        <p th:text="5+7"></p>

        <label>th:text中boolean</label>
        <p th:text="true"></p>

        <label>th:text中${user} == null</label>
        <p th:text="${user} == null"></p>
    </div>

    <div>
        <h2>th:object与*{}联合使用</h2>
        <div th:object="${user}">
            <p th:text="|姓名: *{name}|"></p>
            <p th:text="|年龄: *{age}|"></p>
        </div>

        <h2>th:class使用</h2>
        <div th:object="${user}">
            <p th:class="middle-font" th:text="|姓名: *{name}|"></p>
        </div>

        <h2>th:href</h2>
        <div>
            <a href="https://www.baidu.com" th:href="@{search/{user}(name=${user.name}, user='陌生人')}">用户信息</a>
        </div>

        <div th:if="${users.size() &gt; 3}">
            <p>用户数目大于3</p>
            <p th:text="${user.bankCardList}?''">用户null</p>
        </div>
    </div>

    <div>
        <h3>th:attr</h3>
        <p th:attr="style='color: #FF8877'">这里使用了th:attr修改字颜色</p>
        <p th:style="'color: #FF8877'">这里使用了th:style修改字颜色</p>
        <p th:onclick="|javascript:void(alert('ccc'))|">th:onclick效果，点击试试</p>

        <a href="#" class="btn" th:classappend="'btn-primary'">按钮，使用了th:classappend</a>
    </div>

    <div th:class="title-3">
        <h3>遍历</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, userStat : ${users}" th:class="${userStat.odd}? 'odd'">
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
            </tbody>
        </table>
        <div th:each="user, userStat : ${users}">
            <span th:text="|Index: ${userStat.index}, Size: ${userStat.size}, Current: ${userStat.current}|"></span>
        </div>
    </div>

    <div th:class="title-3">
        <h3>带参数的模板</h3>
        <div th:replace="../templates/common/module :: traversalList(${users})"></div>
    </div>

    <div th:class="title-3" th:with="twoUser=${users[1]}">
        <h3>th:with创建局部变量</h3>
        <p th:text="${twoUser.name}"></p>
    </div>

    <div th:class="title-3">
        <h3>表达式内联</h3>
        <p>时间：[[${#dates.format(nowTime, 'yyyy-MM-dd')}]]</p>
        <p>转义：[(#{user.welcome})]</p>
        <p>非转义：[[#{user.welcome}]]</p>
    </div>

    <div th:class="title-3" id="js-inline">
        <h3>javascript内联</h3>
    </div>
</div>

<script th:inline="javascript">

    window.onload = function () {
        let jsInlineDiv = document.getElementById("js-inline");
        let jsInlineP = document.createElement("p");
        let userJson = [[${user}]]
        jsInlineP.innerHTML = "[(#{user.welcome})]" + userJson.name;
        jsInlineDiv.appendChild(jsInlineP);
        let userJsonArray = [[${users}]]
        for (let i = 0; i < userJsonArray.length; i++) {
            jsInlineP = document.createElement("p");
            jsInlineP.innerHTML = userJsonArray[i].name;
            jsInlineDiv.appendChild(jsInlineP);
        }
    }
</script>
</body>
</html>